body{
  font-family: Arial, sans-serif;
}
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.name-input,
.duedate-input{
  font-size: 15px;
  padding: 6px;
}
.add-button{
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.delete-button{
  background-color: darkred;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}